<canvas id="whoawhoa" class="hidden fixed z-0"></canvas>
<div class="container mx-auto z-10">
  <div class="flex justify-center items-center h-screen">
    <!-- Content goes here -->
    <div class="font-sans font-semibold text-4xl text-center select-none z-20">
      <span id="hello" class="hidden cursor-whoa text-6xl">🤡</span>
      <span id="helloinit" class="text-7xl cursor-pill">☎️</span>
      <br>
      <span class="hidden text-tiny font-light bg-red-400 text-white p-1 align-text-top">
        (try longpress or a midi-🎹)
      </span>
    </div>
  </div>
</div>


