<div class="container mx-auto">
  <div class="flex justify-center items-center h-screen">
    <!-- Content goes here -->
    <div class="font-sans font-semibold text-4xl text-center high-five">
      <span id="hello" class="waving-hand cursor-pointer text-6xl select-none">
        🤡
      </span>
      <br>
      <span class="text-xs font-light bg-black text-yellow-400 p-1 align-middle">
        (try longpress)
      </span>
    </div>
  </div>
</div>
